# Byte-compiled / caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
env/
ENV/

# Data and model outputs
/data/*
!data/.gitkeep
model.joblib

# System files
Thumbs.db
.DS_Store

# IDE files
.vscode/
.idea/

# Streamlit cache
.streamlit/

# Logs
*.log
